bi-calc
test-add
test-compare
test-comp-exp-mod-with-gmp
test-comp-mul-with-gmp
test-compare2
test-dec
test-dec-corner-case
test-div
test-exp-mod
test-equals
test-from-decimal-to-decimal-round-trip
test-from-hex-to-hex-round-trip
test-inc
test-inc-l
test-mul
test-scenario-mul-mod
test-set
test-set-l
test-subtract
test-bytes-shift-left
test-bytes-shift-right
test-to-string
test-*-dynamic
test-*-static
test-ehbigint

###################
# backup files
###################
*.bak
*.bck
*cache.lib
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.tar.gz
*.lo
*.la
*.log
*.trs
*.log

################
# autotools
################
autoscan.log
autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
Makefile
stamp-h1
INSTALL
Makefile.in
aclocal.m4
compile
config.h.in
configure
depcomp
install-sh
missing
ar-lib
config.guess
config.sub
ltmain.sh
test-driver
.deps/
.libs/
m4/
build-aux/
.dirstamp
