[submodule "submodules/libecheck"]
	path = submodules/libecheck
	url = https://github.com/ericherman/libecheck.git
[submodule "submodules/libeba"]
	path = submodules/libeba
	url = https://github.com/ericherman/libeba.git
[submodule "submodules/libehstr"]
	path = submodules/libehstr
	url = https://github.com/ericherman/libehstr.git
